<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Release</key>
	<dict>
		<key>LoggingEnabled</key>
		<false/>
		<key>APIEndpoint</key>
		<string>http://api.circuitry.io/v1</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>APIEndpoint</key>
		<string>http://equation.io</string>
		<key>LoggingEnabled</key>
		<true/>
	</dict>
</dict>
</plist>
